@model IEnumerable<MyMessageApp.Models.MessageViewModel>

@{
    ViewBag.Title = "MyIndex";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<style>
    .messageBoxIndent_1 {
        width: 300px;
        padding: 25px;
        border: 5px solid navy;
        margin: 5px;
        margin-left: 10px;
    }
    .messageBoxIndent_2 {
        width: 300px;
        padding: 25px;
        border: 5px solid navy;
        margin: 5px;
        margin-left: 30px;
    }
    .messageBoxIndent_3 {
        width: 300px;
        padding: 25px;
        border: 5px solid navy;
        margin: 5px;
        margin-left: 50px;
    }

    a[type="button"] {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 2px;
        padding-bottom: 4px;
        width: auto;
        text-decoration: none;
    }

    .messageField {
        padding: 10px;
        background-color: white;
    }
</style>


<div class="Create from">
    @Html.Partial("_viewMyCreateForm", Model.First())
</div>
    <div class="postfield" id="postField" style="width: 500px; height: 500px; line-height: 3em; overflow: auto; padding: 5px; border: 5px solid navy;">
    @foreach (var item in Model)
    {
        if (item.identLevel == 0) { continue; }
        @Html.Partial("_viewMessageIdent0", item)
    }
</div>

<script>
    function toggledisplay(elementID) {
        (function (style) {
            style.display = style.display === 'none' ? '' : 'none';
        })(document.getElementById(elementID).style);
    }
</script>
<script>
    function RateFunc( itemID, value ) {
        $.ajax({
            type: 'POST',
            url: "/Message/Rate",
            data: { "commentID" : itemID, "commentValue": value },
            success: function (RateValue) {
                if (value > 0) {
                    document.getElementById("myPlusField_"+ itemID).innerText = RateValue;                    
                }
                else {
                    document.getElementById("myMinusField_" + itemID).innerText = RateValue;         
                }
                document.getElementById("myPlusButton_" + itemID).disabled = true;
                document.getElementById("myMinusButton_" + itemID).disabled = true;
            },
            error: function () {
            alert("Connection Failed. Please Try Again.");
             }
        });
    }
</script>
